@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text

/* 图片文字对齐 */
  .align-middle{
    display: inline-block;
    vertical-align: middle;
  }
  .v-middle{
    vertical-align: middle;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }

/*flex布局常用方法*/
  .flex {
    display flex
  }
  .flex-1 {
    flex 1 1 auto
  }
  .flex-cloumn {
    flex-direction column
  }
  .flex-center {
    justify-content center
  }
  .flex-between {
    justify-content space-between
  }

  /*常用字号*/
  .font-10 {
    font-size 10px
  }
  .font-12 {
    font-size 12px
  }
  .font-14 {
    font-size 14px
  }
  .font-16 {
    font-size 16px
  }
  .font-18 {
    font-size 18px
  }
  .font-22 {
    font-size 22px
  }